#main-content {
    margin-top: 50px;
}

#sortings {
    margin-bottom: 15px;
}

.panel-heading {
    a:after {
        font-family:'Glyphicons Halflings';
        content:"\e257";
        float: left;
        color: #000;

        &[aria-expanded=true] {
            content:"\e259";
        }
    }
}
